<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="wrapper">
      <h2>Register Now</h2>
      <form method="post">
        <div class="input-box">
          <input
            type="text"
            name="name"
            placeholder="Enter your name"
            required
          />
        </div>
        <div class="input-box">
          <input
            type="text"
            name="email"
            placeholder="Enter your email"
            required
          />
        </div>
        <div class="input-box">
          <input
            type="password"
            name="password"
            placeholder="Create password"
            required
            id="id_password"
            autocomplete="current-password"
          />
          <i class="far fa-eye" id="togglePassword"></i>
        </div>
        <div class="policy">
          <input type="checkbox" required />
          <h3>I accept all terms & condition</h3>
        </div>
        <div class="input-box button">
          <input type="Submit" value="Register Now" />
        </div>
      </form>
    </div>
  </body>
  <script>
    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#id_password");

    togglePassword.addEventListener("click", function (e) {
      // toggle the type attribute
      const type =
        password.getAttribute("type") === "password" ? "text" : "password";
      password.setAttribute("type", type);
      // toggle the eye slash icon
      this.classList.toggle("fa-eye-slash");
    });
  </script>
</html>
